/web/bundles/
/app/bootstrap*
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/spool/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/spool/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.idea
/src/*/*/Model/om
/src/*/*/Model/map
/nbproject/
.DS_Store
/*.sh
!/resources/scripts/*.sh
atlassian-ide-plugin.xml
.vagrant
/resources/machine/vendor/*
!/resources/machine/vendor/Cheffile
